@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600&family=Lobster&family=Montserrat:wght@100;200;500;600&family=Pangolin&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

.arrowIcon {
  display: block;
  position: relative;
  top: 480px;
  left: 50%;
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.3);
  animation: arrow 1.5s ease-in-out infinite;
}

@keyframes arrow {
  0% {
    transform: translate(0, 20px);
  }

  50% {
    transform: translate(0, 30px);
  }

  100% {
    transform: translate(0, 20px);
  }
}

@media (min-width: 640px) {
  .App {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .arrowIcon {
    display: none;
  }
}
